<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Замовлення</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{fragments/common_header_fragment :: head}"></header>

<div class="container">
    <h2>Ви ввійшли в систему як <span sec:authentication="name"></span></h2>

    <div>
        <a href="/orders?status=NEW">Нові замовлення</a>
        <a href="/orders?status=PROCESSING">Замовлення в процесі обробки</a>
        <a href="/orders?status=COMPLETED">Завершені замовлення</a>
    </div>
    <hr>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Ім'я</th>
            <th>Кількість</th>
            <th>Статус</th>
            <th>Дата створення</th>
            <th>Опис</th>
            <th>Товари</th>
            <th>Взяти в обробку</th>
            <th>Завершити замовлення</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="order_ : ${orders}">
            <td th:text="${order_.id}"></td>
            <td th:text="${order_.name}"></td>
            <td th:text="${order_.quantity}"></td>
            <td th:text="${order_.status}"></td>
            <td th:text="${order_.creationDate}"></td>
            <td th:text="${order_.description}"></td>
            <td>
                <select>
                    <option th:each="product : ${order_.getProducts()}" th:value="${product.id}"
                            th:text="${product.name}"></option>
                </select>
            </td>
            <td>
                <form th:action="@{/orders/status/process}" th:object="${orderDTO}" method="post">

                    <input type="hidden" th:value="${order_.id}" id="processid" name="id"/>
                    <input type="submit" value="Взяти"/>
                </form>
            </td>
            <td>
                <form th:action="@{/orders/status/competed}" th:object="${orderDTO}" method="post">
                    <input type="hidden" th:value="${order_.id}" id="competedid" name="id"/>
                    <input type="submit" value="Завершити"/>
                </form>
            </td>
            <br>
        </tr>
        </tbody>
    </table>
    <h3><a href="/company/manage">Повернутися до меню</a></h3>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>