<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Індекс</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<header th:replace="~{fragments/common_header_fragment :: head}"></header>

<div class="container">


    <h1>Система управління складом</h1>
    <h2>Ви ввійшли в систему як <span sec:authentication="authorities"></span></h2>

    <hr>
    <p>
        Ця програма призначена для управління складськими операціями в компанії. Користувачі можуть переглядати,
        додавати, редагувати та видаляти інформацію про товари, склади та замовлення, а також відстежувати їх статуси.
    </p>
    <hr>

    <h1>
        <p>
            <a th:href="@{/company/manage}" href="/company/create">Управляти компанією</a>
        </p>
    </h1>

    <h2><a href="/logout">Выйти</a></h2>
</div>

</body>
</html>